.main{ width:500px;
margin: 0 auto;};

.mainContent{
    border: 80px solid black;
   
}



.test{
    

     /* The magic happens here */
    position: sticky; /* Make the element sticky */
    top: 0; /* Stick to the top of the viewport */
    z-index: 1000; /* Ensure the header is above other content */
}

body{
    
    background-color: #F5F5DC;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
}
.content{
    width: 100%;
    height: auto;
   
}
.blues{
    width: 100%;
    height: auto;
}

.beans{
   border: 10px solid transparent;
    border-image: linear-gradient(to right, #FFD700, #1DB954) 1;
}
nav{
    border: 10px solid transparent;
    border-image: linear-gradient(to right, #5f7d9a, #FF0436) 1;
}



.shaunat{width: 40px;position: sticky; top: 0;  z-index: 1000; }
.shaunat:hover {
  cursor: pointer;
}