.main{ width:500px;
margin: 0 auto;};

.mainContent{
    border: 80px solid black;
   
}

.top{
    margin: 0; /* Remove default body margin */
    font-family: sans-serif;
     position: sticky; /* Make the element sticky */
    top: 1; /* Stick to the top of the viewport */
    z-index: 1000; /* Ensure the header is above other content */
      height:100px;
    background-color: #333; /* Dark background */
    color: white; /* White text */
    padding: 3px 5px; /* Space inside the header */
   text-align: center;
   justify-content: space-around;
 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.sticky-header {
  display:flex;

    /* The magic happens here */
    position: sticky; /* Make the element sticky */
    top: 1; /* Stick to the top of the viewport */
    z-index: 1000; /* Ensure the header is above other content */

  height:100px;
    background-color: #333; /* Dark background */
    color: white; /* White text */
    padding: 3px 5px; /* Space inside the header */
   text-align: center;
   justify-content: space-around;
 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */

 
}



body{
    
    background-color: #F5F5DC;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
}
.content{
    width: 100%;
    height: auto;
   
}
.blues{
    width: 100%;
    height: auto;
}

.beans{
    border: 10px solid black;
}
nav{
    border: 10px solid transparent;
    border-image: linear-gradient(to right, #5f7d9a, #FF0436) 1;
}